<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security4">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<header>

    <link rel="stylesheet" href="/css/addlost.css" type="text/css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/navbar.css" type="text/css"/>
</header>
<body><div th:replace ="base :: navbar"></div>
<div class="container">

    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form role="form" action="#" th:action="@{/additems}" th:object="${losts}" method="post">
                <h2>Please register the item <small>It's free and always will be.</small></h2>
                <hr class="colorgraph">
                <div class="row">
                    <input type="hidden" th:field="*{id}"/>
                    <input type="hidden" th:field="*{itemStatus}" value="lost"/>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="text" name="titel" id="itemName" th:field="*{title}" class="form-control input-lg" placeholder="title" tabindex="1">
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="text" name="desc" id="desc" th:field=*{desc} class="form-control input-lg" placeholder="description" tabindex="2">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <select th:field="*{lostCategories}">
                        <option th:each="cat:${category}" th:value="${cat.id}" th:text="${cat.categoryName}" th:selected="*{lostCategories}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" name="image" id="image" th:field="*{image}" class="form-control input-lg" placeholder="Image" tabindex="3">
                </div>

                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3">
					<span class="button-checkbox">
						<button type="button" class="btn" data-color="info" tabindex="7">I Agree</button>
                        <input type="checkbox" name="t_and_c" id="t_and_c" class="hidden" value="1">
					</span>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9">
                        By clicking <strong class="label label-primary">Register</strong>, you agree to the <a href="#" data-toggle="modal" data-target="#t_and_c_m">Terms and Conditions</a> set out by this site, including our Cookie Use.
                    </div>
                </div>

                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-6 col-md-6"><input type="submit" value="Register" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
                    <div class="col-xs-6 col-md-6"><a href="#" class="btn btn-success btn-block btn-lg">Sign In</a></div>
                </div>
            </form>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="t_and_c_m" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Terms & Conditions</h4>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">I Agree</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
</body>
</body></html>