<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security4">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<header>

    <link rel="stylesheet" href="/css/addlost.css" type="text/css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/navbar.css" type="text/css"/>
</header>
<body><div th:replace ="base :: navbar"></div>
<div class="container">

    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form role="form" action="#" th:action="@{/additems}" th:object="${losts}" method="post">
                <h2>Please register the item <small>It's free and always will be.</small></h2>
                <hr class="colorgraph">
                <div class="row">
                    <input type="hidden" th:field="*{id}"/>
                    <input type="hidden" th:field="*{itemStatus}" value="lost"/>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="text" name="titel" id="itemName" th:field="*{title}" class="form-control input-lg" placeholder="title" tabindex="1">
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="text" name="desc" id="desc" th:field=*{desc} class="form-control input-lg" placeholder="description" tabindex="2">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <select th:field="*{lostCategories}">
                        <option th:each="cat:${category}" th:value="${cat.id}" th:text="${cat.categoryName}" th:selected="*{lostCategories}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" name="image" id="image" th:field="*{image}" class="form-control input-lg" placeholder="Image" tabindex="3">
                </div>
<div sec:authorize="hasAuthority('ADMIN')">
    <!--<div class="form-group">
        <select th:field="*{users}" name="us">
            <option th:each="use:${userss}" th:value="${use.id}" th:text="${use.username}" th:selected="*{users}"></option>
        </select>
    </div>-->
<input type="checkbox" name="unknownuser" value="anonymous"/>register for anonymous user</div>

                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-6 col-md-6"><input type="submit" value="Register" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>

                </div>
            </form>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="t_and_c_m" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">


            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
</body>
</body></html>