<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.tymeleaf.org/thymeleaf-extras-springsecurity4"><head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="/css/listlost.css" type="text/css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/navbar.css" type="text/css"/>
    <link rel="stylesheet" href="/css/addlost.css" type="text/css"/>
</head>
<div th:replace ="base :: navbar"></div>
<body>
<hr class="colorgraph">

<table>
    <thead>
    <tr>
        <th sec:authorize="hasAuthority('ADMIN')" >Title</th>
        <th>Description</th>

        <th>Date reported</th>

        <th sec:authorize="hasAuthority('ADMIN')">status</th>
        <th sec:authorize="hasAuthority('ADMIN')">repoted by</th>
        <th sec:authorize="isAuthenticated()">Category</th>
        <th ></th>
        <th sec:authorize="hasAuthority('ADMIN')"></th>
    </tr>
    </thead>
    <tbody th:each="lost : ${losts}">
    <tr >

        <td sec:authorize="hasAuthority('ADMIN')"  th:text="${lost.title}"><strong></strong></td>
        <td th:text="${lost.desc}"></td>


        <td  th:text="${lost.createdAt}"></td>
        <td th:text="${lost.itemStatus}"></td>

        <th:block sec:authorize="hasAuthority('ADMIN')" >

            <td th:switch="${lost.itemStatus}">
            <span th:case="'lost'">
               <a  th:href="@{/found/{id}(id=${lost.id})}" name="losts" >found</a>
            </span>
            <span th:case="'found'" >
              <a  th:href="@{/found/{id}(id=${lost.id})}" name="founds">lost</a>
            </span>
        </td>
        </th:block>
            <td><a  sec:authorize="hasAuthority('ADMIN')" th:href="@{/delete/{id}(id=${lost.id})}">delete</a></td>
    </tbody>
</table>
<hr class="colorgraph">
</body>
</html>