<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.tymeleaf.org/thymeleaf-extras-springsecurity4"><head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/navbar.css" type="text/css"/>
    <link rel="stylesheet" href="/css/addlost.css" type="text/css"/>
</head>
<div th:replace ="base :: navbar"></div>
<body>
<hr class="colorgraph">




    <ul th:each="lost : ${losts}"">
<li><img th:src="${lost.image}" style="height:150px; width: 130px;"/></li>
        <li  th:text="${lost.title}"><strong></strong></li>
        <li th:text="${lost.desc}"></li>


        <li  th:text="${lost.createdAt}"></li>
        <li th:text="${lost.itemStatus}"></li>

        <th:block sec:authorize="hasAuthority('ADMIN')" >

            <li th:switch="${lost.itemStatus}">
            <span th:case="'lost'">
               <a  th:href="@{/found/{id}(id=${lost.id})}" name="losts" >report found</a>
            </span>
            <span th:case="'found'" >
              <a  th:href="@{/found/{id}(id=${lost.id})}" name="founds">lost</a>
            </span>
        </li>
        </th:block>
            <li><a  sec:authorize="hasAuthority('ADMIN')" th:href="@{/delete/{id}(id=${lost.id})}">delete</a></li>
    </tbody>
</table>
<hr class="colorgraph">
</body>
</html>