<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security4">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="/css/listlost.css" type="text/css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/navbar.css" type="text/css"/>
</head>
<div th:replace ="base :: navbar"></div>
<body>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>

        <th>Date reported</th>

        <th>status</th>
        <th>repoted by</th>
        <th>Category</th>
        <th></th>
    </tr>
    </thead>
    <tbody th:each="lost : ${losts}">
    <tr >
        <input type="hidden" th:text="${lost.id}"/>
        <td th:text="${lost.title}"><strong></strong></td>
        <td th:text="${lost.desc}"></td>


        <td th:text="${lost.createdAt}"></td>
        <td th:text="${lost.itemStatus}"></td>
        <td>
          <span th:each="user:${lost.users}">
            <p th:text="${user.firstName}"></p>
          </span>
        </td>
        <td>
          <span th:each="cat:${lost.lostCategories}">
            <p th:text="${cat.categoryName}"></p>
          </span>
        </td>
        <td> <form th:action="@{/found}" th:object="${found}" method="post">

            <input type="submit" name="foundid" value="Found"></form></td>
    </tr>


    </tbody>
</table>
</body>
</html>